* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d0cdf9;
    font-family: 'Montserrat',
        sans-serif;
    /* background-image: url('./bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.container {
    width: 1024px;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px #e6e6e6;
}

.title {
    margin-top: 10px;
    text-align: center;
    font-weight: 700;
    color: #da4a4a;
    font-size: 60px;
}

.buttons {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: #d0cdf9;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 2px 2px 2px #e6e6e6;
}

button:active {
    background-color: #c7c4ec;
}

.img-flat {
    display: block;
    margin: 10px auto;
}

.descr {
    font-weight: 400;
    font-size: 20px;
    padding: 20px 40px 20px 40px;
    text-align: justify;
}

.header {
    margin-top: 10px;
    text-align: center;
    font-weight: 700;
    color: #da4a4a;
    font-size: 30px;
}

hr {
    margin: 5px 40px 0 40px;
    height: 4px;
    background-color: #d0cdf9;
    border: none;
}

.table-wrapper {
    display: flex;
    justify-content: center;
}

.table-task-1,
.table-task-5 {
    width: 900px;
    /* margin: 0 40px; */
    border: 2px solid #d0cdf9;
    border-collapse: collapse;
}

.table-task-1 tr,
.table-task-5 tr {
    border: 2px solid #d0cdf9;
    height: 50px;
    text-align: center;
}

.table-task-5 tr {
    height: 60px;
}

.table-task-1 td,
.table-task-5 td {
    border: 2px solid #d0cdf9;
    font-weight: 400;
    font-size: 18px;
}

.table-task-1 th,
.table-task-5 th {
    background-color: #f3eff9;
    border: 2px solid #d0cdf9;
}

.answer {
    /* overflow: hidden; */
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.input-task-1,
.input-task-2 {
    display: block;
    width: 600px;
    height: 50px;
    margin-top: 20px;
    /* margin: 20px auto; */
    background-color: #f3eff9;
    border: 2px solid #d0cdf9;
    font-weight: 400;
    font-size: 16px;
    padding-left: 10px;
}


.task-2 .header {
    margin-top: 30px;
}

.task-2 {
    position: relative;
}

.help {
    display: none;
    transition: display 1s ease-out;
}

.help-active {
    transition: display 1s ease-out;
    display: block;
    position: absolute;
    bottom: 100px;
    right: 0px;
    width: 350px;
    min-height: 100px;
    background-color: #fff;
    user-select: none;
    border: 6px solid #d0cdf9;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 20px #e0e0e0;
}

.help-icon {
    height: 50px;
    width: 50px;
    background-color: #d0cdf9;
    margin-top: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}

.tasks button {
    margin-right: 0;
}

.answer-success {
    transition: border ease 1s;
    border: 4px solid #00bd3f;
    border-radius: 5px;
}

.answer-fail {
    transition: border ease 1s;
    border: 4px solid #bd0000;
    border-radius: 5px;
}

.sendTest {
    display: block;
    width: 400px;
    margin: 0 auto;
}